{% extends "AppBundle:Default:main.html.twig" %}

{% block title %}Nowe przyjęcie do magazynu - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Nowe przyjęcie do magazynu</h1>

    {% include 'AppBundle:Operation:formIncome.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Operation:formJsIncome.html.twig' %}
{% endblock %}