{% extends "AppBundle:Default:main.html.twig" %}

{% block title %}Nowe wydanie towaru z magazynu - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Nowe wydanie z magazynu</h1>

    {% include 'AppBundle:Operation:formOutcome.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Operation:formJsIncome.html.twig' %}
{% endblock %}