{% extends "AppBundle:Default:main.html.twig" %}

{% block title %}Edycja przyjęcia magazynowego - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Edycja przyjęcia magazynowego</h1>

    {% include 'AppBundle:Income:form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Income:formJs.html.twig' %}
{% endblock %}