{% extends "AppBundle:Default:main.html.twig" %}

{% block content %}
    <h1 class="page-header">Kontrahenci</h1>
    <a href="{{ path('contractorNew') }}" class="btn btn-default">Nowy</a>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody>
    {% for c in contractors %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="text-center text-muted">
                <i>Nie zdefiniowano jeszcze żadnych kontrahentów</i>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}