{% extends "AppBundle:Default:main.html.twig" %}
{% block content %}
    <h1 class="page-header">Dodaj nowego kontrahenta</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}